@import "tailwindcss";

@theme{
  --color-dark: #2F3037;
}

:root{
  --background: #ffffff;
  --foreground: #2F3037;
}

body{
  background-color: var(--background);
  color: var(--foreground);
}
.text-gradient{
  @apply bg-gradient-to-r from-emerald-600 via-green-500 to-teal-500 bg-clip-text text-transparent
}

.bg-gradient {
  @apply bg-gradient-to-r from-emerald-600 via-green-500 to-teal-500
}

.cl-footer .cl-internal-1dauvpw, .cl-internal-l2l775{
  display: none;
}